/* 当侧边栏折叠且未悬停时的样式 */
/* 默认和非悬停状态下的侧边栏样式 */
.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed,
.workspace-ribbon.side-dock-ribbon.mod-left {
  position: absolute;
  top: 0px;
  left: -30px; /* 默认隐藏在屏幕左侧 */
  height: 95%;
  opacity: 0; /* 默认不可见 */
  transition: all .3s ease-out .2s, var(--anim-duration-moderate); /* 添加过渡效果 */
}

/* 悬停状态下的侧边栏样式 */
.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed:hover,
.workspace-ribbon.side-dock-ribbon.mod-left:hover {
  opacity: 1; /* 悬停时可见 */
  left: 0px; /* 悬停时滑入屏幕 */
}

.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed:not(:hover)::before,
.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed:not(:hover) {
  border-right-color: transparent; /* 设置右边框颜色为透明 */
  margin-left: -32px; /* 额外的左侧偏移 */
}



/* 侧边栏内部操作的样式 */
.side-dock-actions {
  margin-top: 35px; /* 防止重叠 */
}
